backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
bz2file==0.98
certifi==2015.4.28
Cython==0.22.1
decorator==4.0.4
functools32==3.2.3.post2
gensim==0.10.3
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.7.3
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
Keras==0.2.0
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.1
notebook==4.0.6
numpy==1.9.2
pandas==0.16.2
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==3.0.0
ptyprocess==0.5
Pygments==2.0.2
python-dateutil==2.4.2
pytz==2015.4
PyYAML==3.11
pyzmq==14.7.0
scikit-learn==0.16.1
scipy==0.15.1
simplegeneric==0.8.1
six==1.9.0
smart-open==1.2.1
terminado==0.5
Theano==0.7.0
tornado==4.2
traitlets==4.0.0
wheel==0.24.0
