backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
bz2file==0.98
certifi==2015.4.28
Cython==0.22.1
functools32==3.2.3-2
gensim==0.10.3
ipython==3.2.1
Jinja2==2.7.3
jsonschema==2.5.1
Keras==0.1.1
MarkupSafe==0.23
mistune==0.6
numpy==1.9.2
pandas==0.16.2
ptyprocess==0.5
Pygments==2.0.2
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.7.0
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
smart-open==1.2.1
terminado==0.5
Theano==0.7.0
tornado==4.2
wheel==0.24.0
